{% extends 'demo/base.html' %}
{% load static %}

{% block title %}Bienvenidos a Master Factory{% endblock %}

{% block content %}
<h1 class="text-center">BIENVENIDOS A MASTER FACTORY</h1>
<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-sm-12">
            <h2 class="text-center">TIPOS DE PC A LA VENTA!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card card-custom">
                <div class="card-body">
                    <h5 class="card-title">PC GAMERS</h5>
                    <a href="{% url 'pc_gamer' %}">
                        <img src="{% static 'img/pcgamer.jpg' %}" class="card-img-top" alt="PC Gamer">
                    </a>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-custom">
                <div class="card-body">
                    <h5 class="card-title">WORKSTATIONS</h5>
                    <a href="{% url 'workstations' %}">
                        <img src="{% static 'img/pcworkstation.jpg' %}" class="card-img-top" alt="Workstation">
                    </a>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-custom">
                <div class="card-body">
                    <h5 class="card-title">OFICINA - HOME OFFICE</h5>
                    <a href="{% url 'home_office' %}">
                        <img src="{% static 'img/pchome.jpg' %}" class="card-img-top" alt="Oficina - Home Office">
                    </a>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="{% url 'transbank' %}">
    <img src="{% static 'img/transbank.png' %}" class="mt-4" style="display: block; margin-left: auto; margin-right: auto; width: 400px; height: 160px;">
</a>
{% endblock content %}
